body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0;
}
#container {
  background-color: bisque;
  position: relative;
}

#css-code {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  height: 360px;
  display: none;
}
#drag-items {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40px;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
}
#drag-items label {
  margin-top: 10px;
}